/* Final Project - WEBD1000
Author: Hillary Gaudet */

html {
  font-size: 12px;
}

body {
  background: #000;
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  text-decoration: none;
  vertical-align: baseline;
}

ul,
ol {
  list-style: none;
}

.wrapper {
  background-color: rgb(204, 102, 153);
  margin: 0px auto;
  width: 100%;
  max-width: 1100px;
}

nav ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
}

nav a {
  text-decoration: none;
}

/*image from Pixabay.com, copyright free*/

nav.tabs {
  background: url("LinksBackground.png") center no-repeat;
  background-size: cover;
  height: 100px;
}

nav.tabs li {
  transform: perspective(50px) rotateX(10deg);
  margin-top: 70px;
  background-color: rgb(26, 26, 26);
  color: rgb(191, 191, 191);
  display: block;
  float: left;
  height: 30px;
  letter-spacing: 3px;
  line-height: 30px;
  margin-left: 0%;
  margin-right: 2%;
  width: 12%;
}

nav.tabs li a {
  color: rgb(191, 191, 191);
  display: block;
  text-align: center;
  width: 100%;
}

/*image from Pixabay.com, copyright free*/

nav.tabs li a:hover {
  background-color: rgb(231, 231, 231);
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-image: url("HoverBackground.png");
  background-size: 100%;
}

/*image from Pixabay.com, copyright free*/

nav.tabs li a:active {
  background-color: rgb(231, 231, 231);
  color: rgb(0, 0, 0);
  background-image: url("HoverBackground.png");
  background-size: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#content {
  padding: 40px;
  font-size: 1.5em;
}

blockquote p {
  font-size: 1.2em;
  margin: 20px auto;
  font-family: arial;
  font-style: italic;
  color: white;
  padding: 1.2em 10px 1.2em 10px;
  border-left: 8px solid white;
  line-height: 1.6;
  position: relative;
}

footer {
  background-color: #000;
  text-align: right;
  padding: 10px 0;
  color: rgb(191, 191, 191);
}

footer span a {
  padding: 10px;
  color: rgb(191, 191, 191);
}

footer span a:hover {
  color: rgb(0, 167, 167);
  text-decoration: underline;
  
  footer  img {
	  margin-left: 10px;
}
